doctype html 
html
  head
    title About Us

    link(rel="shortcut icon", href="../static/faviconNEW.png", type="image/x-icon")

    style
      include ../static/style.css 

    script
      include ../static/script.js   
//- (src="../static/script.js")
body 
  nav#navbar 
    div#logo
      h3.logname #[a(href='/') anveshanam]
      //- img.logoimg(src="../static/.png")
    ul#nav-list
      li.navitem #[a(href='/') Home]
      li.navitem #[a(href='/#home-events') Events]
      li.navitem #[a(href='/#whatWeDo') What We Do]
      li.navitem #[a(href='/aboutUs') About Us]
      li.navitem #[a(href='/gallery') Gallery]
      li.navitem #[a(href='/about') Our Team and Contact]
      //- li.navitem #[a(href='/') Contact]

  section#AboutUs 
    div#mainAbout
      h3 About Us 
      p Anveshanam, derived from the Sanskrit word for 'research and inquest,' embodies the spirit of inquiry and exploration at our club's heart. At the Indian Institute of Technology Gandhinagar, our team is dedicated to fostering a research-positive environment that inspires students to pursue innovative and impactful research. Our diverse programs and activities offer students a platform to learn about various research areas, tools, and opportunities, such as grants and fellowships. Our club also hosts expert lectures, guest interaction sessions, and career counselling to provide students with valuable insights into the research community. By nurturing a culture of continuous learning and research, we strive to significantly impact our community and inspire the next generation of leaders in research and innovation.
    div#goal 
      h4 Goal 
      p The Research Society is committed to empowering students with the knowledge and tools necessary to conduct impactful research. We organize a wide range of workshops focused on different tools that facilitate research, ensuring that students have access to the latest technologies and methodologies. Additionally, we host speaker sessions, inviting experts in their respective fields to share their insights and experiences with our members.
      p Our Society also conducts seminars on diverse topics, including the various types of fellowships and work opportunities available to students in the research community. By providing students with valuable information and resources, we aim to help them pursue their research aspirations with confidence and enthusiasm.


  div#feedback
    h6 Your valuable suggestions and feedback are always welcomed here.
    btn #[a(href="https://forms.gle/aJRgrNMdmr42Su169") Suggestions/Feedback]

  footer#footer
    div#copyright
      h6 © Copyright 2023 Anveshanam | IIT Gandhinagar- All Rights Reserved
    div#footimgs
      a(target="blank" ,href="https://www.instagram.com/anveshanam_iitgn/?igshid=YmMyMTA2M2Y%3D&hl=en")
        img(src="../static/instafoot.png", alt="Instagram")
      a(target="blank" ,href='https://www.linkedin.com/in/anveshanam-iitgn-b81a1a243/?originalSubdomain=in')
        img(src="../static/linkedfoot.png", alt="LinkedIn")
      a#whatsapp
        img(src="../static/whatsfoot.png", alt="")
      //- img(src="", alt="")
  
  div#WAlink 
    div#close ×
    h5 Follow the links below:
    div#WA 
      a(target="blank", href="")
        img(src="../static/images/blueWA.png", alt="")
      h6 B.Tech
    div#WA 
      a(target="blank", href="")
        img(src="../static/images/greenWA.png", alt="")
      h6 Masters
    div#WA 
      a(target="blank", href="")
        img(src="../static/images/orangeWA.png", alt="")
      h6 Ph.D
    div#WA 
      a(target="blank", href="")
        img(src="../static/images/redWA.png", alt="")
      h6 PG-Batch 2022
    div#WA 
      a(target="blank", href="")
        img(src="../static/images/pinkWA.png", alt="")
      h6 UG-Batch 2022
