doctype html 
html
  head
    title Events

    link(rel="shortcut icon", href="../static/faviconNEW.png", type="image/x-icon")
    
    style
      include ../static/style.css 

    script 
      include ../static/script.js   

body 
  nav#navbar 
    div#logo
      h3.logname #[a(href='/') anveshanam]
      //- img.logoimg(src="../static/.png")
    ul#nav-list
      li.navitem #[a(href='/') Home]
      li.navitem #[a(href='/events') Events]
      li.navitem #[a(href='/#Activities') Activities]
      li.navitem #[a(href='/#home-events') Announcements]
      li.navitem #[a(href='/gallery') Gallery]
      li.navitem #[a(href='/teamContact') Our Team and Contact]

  section#Events 
    h3 Events
  
    div.anEvent
      h4 Thriving in your Research Journey
      div.card-box 
        div.card-image
          img(src="", alt="")
        div.eventTEXT
          p Speaker: Prof. Himanshu Shekhar
          p Designation: Asst. Prof. at IITGN
          p Date: May 22, 2021
          p Topic: Identification research problem and high-quality publication
    
    div.anEvent
      h4 Career in Academics
      div.card-box 
        div.card-image
          img(src="", alt="")
        div.eventTEXT
          p Speaker: Prof. Rajendra Nagar
          p Designation: Asst. Prof at IIT Jodhpur
          p Date: June 4, 2021
          p Topic: Academic as Career after Ph.D.
    
    div.anEvent
      h4 All About The Pmrf Scheme
      div.card-box 
        div.card-image
          img(src="", alt="")
        div.eventTEXT
          p Speaker: Sachin Suthar
          p Designation: PMRF fellow at IITGN
          p Date: June 20, 2021
          p Topic: PMRF awareness
    
    div.anEvent
      h4 The Patenting Journey
      div.card-box 
        div.card-image
          img(src="", alt="")
        div.eventTEXT
          p Speaker: Prof. Uttama Lahiri
          p Designation: Asst. Prof at IITGN
          p Date: July 24, 2021
          p Topic: About Patent and innovation way of research
    
    div.anEvent
      h4 Workshop on MATLAB
      div.card-box 
        div.card-image
          img(src="", alt="")
        div.eventTEXT
          p Speaker: Ajay Kumar
          p Designation: Alumni MTech IITGN
          p Date: August 12, 2021
          p Topic: MATLAB programing
    
    div.anEvent
      h4 All about SERB PMRF fellowship
      div.card-box 
        div.card-image
          img(src="", alt="")
        div.eventTEXT
          p Speaker: 
          p Designation: SERB PMRF fellow at IITGN
          p Date: August 15, 2021
          p Topic: Industrial PMRF
    
    div.anEvent
      h4 Research 101
      div.card-box 
        div.card-image
          img(src="", alt="")
        div.eventTEXTT
          p Speaker: Prof. Anamika Dubey
          p Designation: Asst. Prof. Washington State University
          p Date: August 21, 2021
          p Topic: Research Scenerio in top institute abroad
    
    div.anEvent
      h4 A Career in Academics
      div.card-box 
        div.card-image
          img(src="", alt="")
        div.eventTEXT
          p Speaker: Dr. Kaling Taki
          p Designation: Asst. Prof. IIT Guwahati
          p Date: October 6, 2021
          p Topic: Impactful Ph.D. and how to proceed the right way
    
    div.anEvent
      h4 Interaction Session
      div.card-box 
        div.card-image
          img(src="", alt="")
        div.eventTEXT
          p Speaker: Prof. Vannet Aggrawal
          p Designation: Assoc. Prof. Purdue University
          p Date: Nov 6, 2021
          p Topic: Impactful Research and Lab research environment at Purdue University
    
    div.anEvent
      h4 PMRF Interaction Session
      div.card-box 
        div.card-image
          img(src="", alt="")
        div.eventTEXT
          p Speaker: Recipients of PMRF MAy cycle
          p Designation: IITGN
          p Date: Dec 11, 2021
          p Topic: About PMRF scheme
    
    div.anEvent
      h4 Artificial Intelligence, Past, Present, Future
      div.card-box 
        div.card-image
          img(src="", alt="")
        div.eventTEXT
          p Speaker: Prof. Nipun Batra
          p Designation: Asst. Prof. at IITGN
          p Date: Jan 09, 2022
          p Topic: Artificial Intelligence
    
    div.anEvent
      h4 Nidhi Prayas: An opportunity to start your entrepreneurial journey
      div.card-box 
        div.card-image
          img(src="", alt="")
        div.eventTEXT
          p Speaker: Rajdeep Singh Devra
          p Designation: Receipient of Nidhi Prayas Grant in Cohort-1
          p Date: Jan 12, 2022
          p Topic: Nidhi Prayas Grant awareness
    
    div.anEvent
      h4 Test
      div.card-box 
        div.card-image
          img(src="../static/images/ms abroad final 2.png", alt="")
        div.eventTEXT
          p TEST   
          p TEST   
          p TEST
          p TEST   
