doctype html 
html
  head
    title Events

    link(rel="shortcut icon", href="../static/faviconNEW.png", type="image/x-icon")
    
    style
      include ../static/style.css 

    script 
      include ../static/script.js   

body 
  nav#navbar 
    div#logo
      h3.logname #[a(href='/') anveshanam]
      //- img.logoimg(src="../static/.png")
    ul#nav-list
      li.navitem #[a(href='/') Home]
      //- li.navitem #[a(href='/events') Events]
      li.navitem #[a(href='/#Activities') Activities]
      li.navitem #[a(href='/#home-events') Announcements]
      li.navitem #[a(href='/gallery') Gallery]
      li.navitem #[a(href='/teamContact') Our Team and Contact]

  section#Events 
    h3 Events

    div.anEvent
        h4 Hidden Figures: Movie Screening
        div.card-box 
          div.card-image
            img(src="../static/Posters/Movie Screening _Hidden Figures.png", alt="")
          div.eventTEXT
            //- p Speaker: Prof. Vannet Aggrawal
            //- p Designation: Assoc. Prof. Purdue University
            p Date: Friday, September 15, 2023
            p Topic: Anveshanam Movie Screening
    
    div.anEvent
      h4 3 Day Workshop on Labview
      div.card-box 
        div.card-image
          img(src="../static/Posters/NI Workshop.png", alt="")
        div.eventTEXT
          p Collabotators: NI and Tech Council
          p Designation: IITGN
          p Date: July 17-19, 2023
          p Topic: LabView and Basics of DAQ
    
    div.anEvent
      h4 Exploring Career Paths
      div.card-box 
        div.card-image
          img(src="../static/Posters/Exploring career paths_Dr. Ankit Agarwal and Dr. Aditya Raj.jpeg", alt="")
        div.eventTEXT
          p Speakers: Dr. Ankit Agarwal and Dr. Aditya Raj
          //- p Designation: Asst. Prof at IITGN
          p Date: July 8, 2023
          p Topic: Exploring Career Paths: Research and Industry perspectives
    
    div.anEvent
      h4 Effective Scientific Research Communication
      div.card-box 
        div.card-image
          img(src="../static/Posters/Nserb.jpg", alt="")
        div.eventTEXT
          p Speakers: Prof. Himanshu Shekhar and Prof. Karla Mercado-Shekhar
          //- p Designation: Asst. Prof. IIT Guwahati
          p Date: Tuesday, March 14 2023
          p Topic: Research Communication Workshop

    div.anEvent
      h4 The Imitation Game: Movie Screening
      div.card-box 
        div.card-image
          img(src="../static/Posters/Movie screen_The Imitation Games.png", alt="")
        div.eventTEXT
          //- p Speaker: Dr. Kaling Taki
          //- p Designation: Asst. Prof. IIT Guwahati
          p Date: March 11 2023
          p Topic: Anveshanam Movie Screening
    
    div.anEvent
      h4 PHD Abroad
      div.card-box 
        div.card-image
          img(src="../static/Posters/PhD Abroad_Abhinanda Das.png", alt="")
        div.eventTEXT
          p Speaker: Ms. Abhinanda Dash
          p Designation: Alumni IITGn
          p Date: March 4, 2023
          p Topic: PHD Abroad

    div.anEvent
      h4 MS Abroad
      div.card-box 
        div.card-image
          img(src="../static/Posters/Journey to MS Abroad_Varun and Dhruvi.png", alt="")
        div.eventTEXTT
          p Speakers: Mr. Varun Jain and Ms. Dhruvi
          p Designation: Allumni IITGN
          p Date: February 25, 2023
          p Topic: Journey to MS Abroad

    div.anEvent
      h4 Resonance as a design strategy in AI and Social Robotics
      div.card-box 
        div.card-image
          img(src="../static/Posters/AI_ML_Dr. Derek Lomas.jpeg", alt="")
        div.eventTEXT
          p Speaker: Dr. Derek Lomas
          p Designation: Asst. Prof. at TU DELFT
          p Date: Saturday, January 21
          //- p Topic: 
    
    div.anEvent
      h4 Career in Academics
      div.card-box 
        div.card-image
          img(src="../static/Posters/Career in Academia_DR. Utsav Mannu.png", alt="")
        div.eventTEXT
          p Speaker: Prof. Utsav Mannu
          p Designation: Asst. Prof at IIT Gandhinagar
          p Date: Friday, August 5
          p Topic: DST Inspire Faculty Scheme
    
    div.anEvent
      h4 Visualization of Data Workshop
      div.card-box 
        div.card-image
          img(src="../static/Posters/Data Visualization_ Dr. Manasi Kanetkar.jpeg", alt="")
        div.eventTEXT
          p Speaker: Dr. Manasi Kanetkar
          p Designation: Assistant Professor at IITGN
          p Date: July 9, 2022
          p Topic: Data Visualization
    
    
    
    div.anEvent
      h4 FullBright Program
      div.card-box 
        div.card-image
          img(src="../static/Posters/Fulbright Fellowship_Rishiraj Adhikary.jpeg", alt="")
        div.eventTEXT
          p Speaker: Rishiraj Adhikary
          p Designation: PMRF and FullBright Scholar
          p Date: October 14
          p Topic: FullBright Fellowship and International Exchange Program
    
    div.anEvent
      h4 Research in Motion
      div.card-box 
        div.card-image
          img(src="../static/Posters/Interactive session _Dr. Shravan Kumar Kalyankar.png", alt="")
        div.eventTEXT
          p Speaker: Dr. Shravan Kumar Kalyankar
          p Designation: Wireless Research Engineer, Continental Automative Singapore
          p Date: July 2, 2022
          p Topic: An Academia-Industry Drive Through
    
    
    
    div.anEvent
      h4 Peer Review
      div.card-box 
        div.card-image
          img(src="../static/Posters/Peer Review_Shanmuga.png", alt="")
        div.eventTEXT
          p Collaborators: Library IITGN
          p Speaker: Prof. Shanmuganathan Raman
          //- p Designation: Asst. Prof. at IITGN
          p Date: September 19, 2022
          p Topic: Theology, Algorithms and Application
    
    
    
    div.anEvent
      h4 The PHD Movie
      div.card-box 
        div.card-image
          img(src="../static/Posters/PHD Movie 1.png", alt="")
        div.eventTEXT
          //- p Speaker:  
          //- p Designation:  
          p Date: September 9, 2022
          p Topic: Anveshanam Movie Screening

    div.anEvent
      h4 The PHD Movie 2
      div.card-box 
        div.card-image
          img(src="../static/Posters/PHD Movie 2.png", alt="")
        div.eventTEXT
          //- p Speaker:  
          //- p Designation:  
          p Date: September 9, 2022
          p Topic: Anveshanam Movie Screening

    div.anEvent
      h4 PMRF Fellowship
      div.card-box 
        div.card-image
          img(src="../static/Posters/PMRF_16 July.jpeg", alt="")
        div.eventTEXT
          //- p Speaker:  
          //- p Designation:  
          p Date: July 16, 2022
          p Topic: Interactive session on PMRF Fellowship

    div.anEvent
      h4 Interaction Session : Job/Internship in AI startup
      div.card-box 
        div.card-image
          img(src="../static/Posters/Poster_Floatbot.png", alt="")
        div.eventTEXT
          p Speaker: Jimmy Padia
          p Designation: CEO and Founder, Floatbot
          p Date: June 9, 2022
          p Topic: Interaction Session : Job/Internship with Conversational AI startup
    
    div.anEvent
      h4 Scholarly Communication Ecosystem: Peer Review
      div.card-box 
        div.card-image
          img(src="../static/Posters/Scholarly Communication Ecosystem _Karrie Peterson.png", alt="")
        div.eventTEXT
          p Speaker: Karrie Peterson
          p Designation: Dept Head, Liaison and Instruction Services, MLT Liabraries
          p Date: September 21, 2022
          p Topic: Academic Integrety, Openness and Fairness

    div.anEvent
      h4 SERB PMRF Fellowship
      div.card-box 
        div.card-image
          img(src="../static/Posters/SERB PMRF.png", alt="")
        div.eventTEXT
          p Speaker: Vishal Khanna
          p Designation: Dy Director, BISNET, FICCI
          p Date: September 11, 2022
          p Topic: Industry Partnered PMRF


  div#feedback
    h6 Your valuable suggestions and feedback are always welcomed here.
    btn #[a(href="https://forms.gle/aJRgrNMdmr42Su169") Suggestions/Feedback]

  footer#footer
    div#copyright
      h6 © Copyright 2024 Anveshanam | IIT Gandhinagar- All Rights Reserved
    div#footimgs
      a(target="blank" ,href="https://www.instagram.com/anveshanam_iitgn/?igshid=YmMyMTA2M2Y%3D&hl=en")
        img(src="../static/instafoot.png", alt="Instagram")
      a(target="blank" ,href='https://www.linkedin.com/in/anveshanam-iitgn-b81a1a243/?originalSubdomain=in')
        img(src="../static/linkedfoot.png", alt="LinkedIn")
      a(target="blank", href='https://chat.whatsapp.com/ISAOj79iZ1l2HUvixxAiHE')
        img(src="../static/whatsfoot.png", alt="WhatsApp")