doctype html 
html
  head
    title Anveshanam | IITGN

    link(rel="shortcut icon", href="../static/faviconNEW.png", type="image/x-icon")

    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css")
    
    style
      include ../static/style.css 

    script
      include ../static/script.js   
//- (src="../static/script.js")
body 
  nav#navbar 
    div#logo
      h3.logname #[a(href='/') anveshanam]
      //- img.logoimg(src="../static/.png")
    ul#nav-list
      li.navitem #[a(href='/') Home]
      li.navitem #[a(href='/#home-events') Events]
      li.navitem #[a(href='#whatWeDo') About Us]
      //- li.navitem #[a(href='/aboutUs') About Us]
      li.navitem #[a(href='/gallery') Gallery]
      li.navitem #[a(href='/teamContact') Our Team and Contact]
      //- li.navitem #[a(href='/') Contact]

  sectiion#Image 
    #homelog 
      //- img(src="../static/faviconNEW.png", alt="")
    //- h2 ANVESHANAM
    //- h3 Research Society of IIT Gandhinagar
    div.container 
      div.swiper 
        
        div.swiper-wrapper  
          div.swiper-slide 
            img(src="../static/caraousel (sliding images)/1.jpg", alt="")
          div.swiper-slide 
            img(src="../static/caraousel (sliding images)/Untitled design (2).png", alt="")
          
  
  div.container
    div.introText 
      
      p Inspiring Research, Illuminating Minds
    
    div.swiper 
        
        div.swiper-wrapper  
          div.swiper-slide 
            img(src="../static/caraousel (sliding images)/corousel1.jpg", alt="")
          div.swiper-slide 
            img(src="../static/caraousel (sliding images)/corousel2.jpg", alt="")
          div.swiper-slide 
            img(src="../static/caraousel (sliding images)/cor3.jpg", alt="")
          div.swiper-slide 
            img(src="../static/images/2021-06-22.jpg", alt="")
        div.swiper-pagination 
        div.swiper-button-prev 
        div.swiper-button-next 

  section#whatWeDo 
    h3 About Us
    div#aim-vision
    p Welcome to Anveshanam, the vibrant hub of exploration and discovery at IIT Gandhinagar! We are a dynamic club dedicated to fostering a culture of research and innovation within the academic community. 

      div#aim
        h4 What we do
        p Our diverse range of activities extends from forging meaningful collaborations with esteemed faculty and industry experts to curating impactful seminars and workshops. But that's not all – we strive to provide hands-on experiences at several stages of academic pursuit that empower students to delve into their academic passions. 

      div#vision
        h4 Vision 
        p Our mission is to provide a platform for students to immerse in intellectual engagement and support them in various possible ways to embark on a research-oriented career. Research, its intricacies, and the compelling reasons for choosing a research-driven career are often mysteries to many, especially those at the undergraduate level. Anveshanam endeavors to provide them with a firsthand experience, unveiling the motivations that drive researchers and offering them a taste of this journey.
 
    div#moreACtivity 
      btn #[a(href="#Activities") Key Activities]

  section#home-events
    h3 Events
    div.container
      div.swiper 
        
        div.swiper-wrapper  
          div.swiper-slide 
            img(src="../static/Posters/Journey to MS Abroad_Varun and Dhruvi.png", alt="")
          div.swiper-slide 
            img(src="../static/Posters/Movie Screening _Hidden Figures.png", alt="")
          div.swiper-slide 
            img(src="../static/Posters/PhD Abroad_Abhinanda Das.png", alt="")
          div.swiper-slide 
            img(src="../static/Posters/Peer Review_Shanmuga.png", alt="")
        
        div.swiper-pagination 
        div.swiper-button-prev 
        div.swiper-button-next
    div#moreEvents 
      btn #[a(href="/events") Know More]

  

  section#Activities
    h3 Key Activities

  .activitiesDIV

    // Awareness about Research
    .activity-item#awareness
      img(src="static/images/key activity/keyactivity.png", alt="General Awareness")
      .activity-text
        h4 General awareness about Research
        p Society will conduct awareness sessions on topics like how to publish research papers, how to write research papers, how to find the best Journal for your work, how to have timely publications, what are the career prospects as a researcher etc.

    // Software Learning
    .activity-item#softwarelearn
      img(src="static/images/key activity/softwarelearning.png", alt="Software Learning")
      .activity-text
        h4 Software learning
        p Many students face challenges in adopting software and learning languages such as Matlab, Latex, Python, etc. The club will assign mentors for various software from whom the students can learn the software of their need.

    // Expert Lectures
    .activity-item#expertLec
      img(src="static/images/key activity/expertlecture.png", alt="Expert Lectures")
      .activity-text
        h4 Expert Lectures
        p The Society will invite Professors, Researchers for talks on the various subjects of expertise and clarify doubts of the members about their research problems. Experts will help members to become excellent researchers by providing their constant guidance.

    // Guest Interaction Sessions
    .activity-item#guestInteract
      img(src="static/images/key activity/interationsession.png", alt="Guest Interaction Sessions")
      .activity-text
        h4 Guest Interaction sessions
        p The guests would be the young researchers who recently joined as Professors or as Scientists or who entered the industry in R&D. In such sessions, guests would share their journey and perspectives. Such sessions aim to provide informal discussions with achievers and to motivate the members to seek a promising career.

    // Career Counseling
    .activity-item#careerCoun
      img(src="static/images/key activity/career.png", alt="Career Counseling")
      .activity-text
        h4 Career counseling
        p Society will provide counseling for the career. Society will also update about various vacancies for Ph.D., openings in the lab, opportunities for Postdoc. At the same time, Society will guide its members to achieve a versatile career and invite them as experts for society talks in the future.

    // Awareness about Scholarships and Research Events
    .activity-item#awarenesScholarship
      img(src="static/images/key activity/scholarship.png", alt="Awareness about Scholarships and Research Events")
      .activity-text
        h4 Awareness about scholarships and research events
        p Society aims to provide awareness about various scholarships such as PMRF, Young achiever award, and multiple avenues to represent our work for maximum reach.

    // Interaction and Collaboration Abroad
    .activity-item#interactionColaAbroad
      img(src="static/images/key activity/abroad.png", alt="Interaction and Collaboration Abroad")
      .activity-text
        h4 Interaction and collaboration abroad
        p We invite renowned Professors and Researchers from all over the world for interactions with IITGN Junta. This will open up collaboration opportunities and increase global exposure, thus giving perceptions beyond the national level.

  div#moreACtivity

    

    btn #[a(href="/aboutUs") Know More About Us]




  div#feedback
    h6 Your valuable suggestions and feedback are always welcomed here.
    btn #[a(href="https://forms.gle/aJRgrNMdmr42Su169") Suggestions/Feedback]

  footer#footer
    div#copyright
      h6 © Copyright 2024 Anveshanam | IIT Gandhinagar- All Rights Reserved
    div#footimgs
      a(target="blank" ,href="https://www.instagram.com/anveshanam_iitgn/?igshid=YmMyMTA2M2Y%3D&hl=en")
        img(src="../static/instafoot.png", alt="Instagram")
      a(target="blank" ,href='https://www.linkedin.com/in/anveshanam-iitgn-b81a1a243/?originalSubdomain=in')
        img(src="../static/linkedfoot.png", alt="LinkedIn")
      a(target="blank", href='https://chat.whatsapp.com/ISAOj79iZ1l2HUvixxAiHE')
        img(src="../static/whatsfoot.png", alt="WhatsApp")
      //- img(src="", alt="")
  
  //- div#WAlink 
  //-   div#close ×
  //-   h5 Follow the links below:
  //-   div#WA 
  //-     a(target="blank", href="")
  //-       img(src="../static/images/blueWA.png", alt="")
  //-     h6 B.Tech
  //-   div#WA 
  //-     a(target="blank", href="")
  //-       img(src="../static/images/greenWA.png", alt="")
  //-     h6 Masters
  //-   div#WA 
  //-     a(target="blank", href="")
  //-       img(src="../static/images/orangeWA.png", alt="")
  //-     h6 Ph.D
  //-   div#WA 
  //-     a(target="blank", href="")
  //-       img(src="../static/images/redWA.png", alt="")
  //-     h6 PG-Batch 2022
  //-   div#WA 
  //-     a(target="blank", href="")
  //-       img(src="../static/images/pinkWA.png", alt="")
  //-     h6 UG-Batch 2022


  //- ///////////////////
  script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
  script.
      const swiper = new Swiper('.swiper', {
        // Optional parameters
        //- direction: 'vertical',
          autoplay:{
          delay:5000,
          disableOnInteraction: false,
          },
        loop: true,

        // If we need pagination
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },

        // Navigation arrows
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        //- scrollbar: {
        //-   el: '.swiper-scrollbar',
        //- },
        });

      //- let Announce = document.getElementById('Announce');
      //- Announce.addEventListener('mouseover', function parafunc(){
      //-     //alert('mouse on para');
      //-     console.log('mouse on para');
      //-   });
        
      //- document.getElementById('whatsapp').addEventListener('click',function(){
      //-     document.getElementById('WAlink').style.display ='flex';
      //- })

