doctype html 
html
  head
    title Our Team and Contact

    link(rel="shortcut icon", href="../static/faviconNEW.png", type="image/x-icon")
    
    style
      include ../static/style.css 

    script 
      include ../static/script.js   

body 
  nav#navbar 
    div#logo
      h3.logname #[a(href='/') anveshanam]
      //- img.logoimg(src="../static/.png")
    ul#nav-list
      li.navitem #[a(href='/') Home]
      li.navitem #[a(href='/#home-events') Events]
      li.navitem #[a(href='/#whatWeDo') About Us]
      //- li.navitem #[a(href='/#whatWeDo') Activities]
      li.navitem #[a(href='/gallery') Gallery]
      
  
  

  section#ourTeam 
    h3 Our Team
    .member 
        div.memberIMG 
          img(src="../static/images/Rajdeep.jpg", alt="")
        div.memberDATA 
          h4 Rajdeep Singh Devra 
          h5 Founding Member and Secretary 
          p I'm Rajdeep Singh Devra, a passionate PhD scholar in Mechanical Engineering at IIT Gandhinagar. As one of the founding members of the Anveshanam Club, I have been deeply involved in shaping its journey from its humble beginnings as a hobby group to becoming an officially recognized research society at IITGN in February 2022. Currently, I proudly serve as the Club Secretary. I envision creating a supportive research community that fosters continuous learning and exploration.  When not busy with research, I enjoy playing badminton and endurance running.

          p devra_rajdeep@iitgn.ac.in
          h6 #[a(href='linkedin.com/in/rajdeep-singh-devra-962214218') LinkedIn]
          

    
    .member.flexx
        div.memberIMG
          img(src="../static/Team/ShahFaisalKhan1.jpg", alt="") 
        div.memberDATA 
          h4 Shah Faisal Khan
          h5 Web Developement Team
          p Hello there! I'm Shah Faisal Khan, currently navigating the world of Computer Science and Engineering as a B.Tech undergraduate. At Anveshanam, I proudly lead the Web Development team, where I transform ideas into digital wonders. With an unbridled passion for software development, I find joy in exploring the uncharted. Beyond coding, you'll catch me indulging in the artistry of drama and the rhythm of music.
          p shahpathan@iitgn.ac.in
          h6 #[a(href='https://www.linkedin.com/in/shah-faisal-khan-/') LinkedIn]

    .member  
        div.memberIMG 
          img(src="../static/Team/harshjaitwal.jpg", alt="")
        div.memberDATA 
          h4 Harsh Jaitwal  
          h5 Social Media Team
          p Hi, I am Harsh Jaitwal, third year undergraduate in the department of chemical Engineering. I am working as a head of social media team to implement and enhance my knowledge and skills in the field of social media marketing. 
          p jaitwalharsh@iitgn.ac.in
          h6 #[a(href='https://www.linkedin.com/in/harsh-jaitwal-9614a922b') LinkedIn]

    .member.flexx  
        div.memberIMG 
          img(src="../static/Team/himanshubeniwal.jpg", alt="")
        div.memberDATA 
          h4 Himanshu Beniwal  
          h5 Web Developement Team
          p Traveling the 🌎 with ♥️ for ☕️, & crazy for 👨🏼‍💻. 
          p himanshubeniwal@iitgn.ac.in
          h6 #[a(href='https://www.linkedin.com/in/himanshubeniwal/') LinkedIn]
    .member 
        div.memberIMG 
          img(src="../static/Team/mahakjauhri.jpeg", alt="")
        div.memberDATA 
          h4 Mahak Jauhri 
          h5 Editorial and Social Media Team
          p I am an avid mathematics enthusiast and a dedicated member of Anveshnam (research society), contributing to editorial and social media team. I am a self-motivated learner, always eager to explore diverse fields of knowledge. In addition to my academic pursuits, I enjoy content creation and excel in expressing my thoughts through various forms of writing. With the drive to make a mark, I'm here to help steer our Research Society towards some seriously cool discoveries.
          p mahakjohari098@gmail.com 
          h6 #[a(href='https://www.linkedin.com/in/mahak-jauhri-99684b17a') LinkedIn]

    .member.flexx
        div.memberIMG 
          img(src="../static/Team/image.png", alt="")
        div.memberDATA 
          h4 Nikhil Kumar Lal
          h5 Web Developement Team
          p 🚴‍♂️ Cycling through the circuits of life | 🏸 Badminton ninja on the court | 💻 2nd-year Mechanical Engineering student by day, coding wizard by night 🌙 | Crafting lines of code and conquering the web as a web developer in the making 💻✨ | Bridging the gap between gears and code
          p nikhilkumar.lal@iitgn.ac.in
          h6 #[a(href=' https://www.linkedin.com/in/nikhil-kumar-lal-75b153266/') LinkedIn]

    .member 
        div.memberIMG 
          img(src="../static/Team/muskanjindal.jpg", alt="")
        div.memberDATA 
          h4 Muskank Jindal  
          h5 Editorial and Social Media Team
          p I am a Ph.D. student at Ta Per Lab, where I am currently pursuing my research. Prior to joining Ta Per Lab, I worked as a research assistant at the Centre for Behavioral Science (CBS) at the Indian Institute of Management Ahmedabad. Educational Background I hold a master's degree in Cognitive Science from the Center of Behavioral and Cognitive Science (CBCS) at the University of Allahabad. My academic focus during this period revolved around exploring the fascinating relationship between bilingual experiences and general purposive executive control. Additionally, I have a bachelor's degree in Botany from Ramjas College at the University of Delhi. Interests Beyond my academic pursuits, I have a passion for various activities. I enjoy going for long walks, indulging in Hindi satire literature, practicing Yoga, and watching psychological thrillers.
          p muskan.23310027@iitgn.ac.in
          //- h6 #[a(href='') LinkedIn]
    
    
    
        
    .member.flexx  
        div.memberIMG 
          img(src="../static/Team/nsramanathan.jpg", alt="")
        div.memberDATA 
          h4 N S Ramanathan  
          //- h5 POR
          p I am N S Ramanathan, yet another imperfect human. I am a final year M.Tech Student in the Department of Electrical Engineering. You'll find me scribbling poems at times. My niche is typically musical, and rain along with it makes it heaven. Travelling with my people is one activity that I enjoy. I make it a point to greet everyone with a gentle smile, as I believe that it can make the world happier than ever. 
          p ramanathanns@iitgn.ac.in
          h6 #[a(href='https://www.linkedin.com/in/nsramanathan/') LinkedIn]
    .member  
        div.memberIMG 
          img(src="../static/Team/nilanshsharma.jpeg", alt="")
        div.memberDATA 
          h4 Nilansh Sharma   
          //- h5 POR
          p I am a third year undergraduate in the discipline of chemical engineering. My research interest lies in the field of protein engineering. My hobbies are reading fiction books, and listening music.
          p sharmanilansh@iitgn.ac.in
          //- h6 #[a(href='') LinkedIn]

    .member.flexx  
        div.memberIMG 
          img(src="../static/Team/IMG_5871.jpg", alt="")
        div.memberDATA 
          h4 Nisma Fatema
          h5 Social Media Manager
          p I completed my bachelor's in Corporate Secretaryship and worked in Goldman Sachs when I discovered my passion for Cognitive Sciences and ventured into this field of never-ending research. I’ve never been happier and strive to learn and help others learn about research and related skills. When I'm not working, I spend my time watching anime, playing badminton, writing poetry or simply... zoning out.
          p nisma.fathima@iitgn.ac.in
          //- h6 #[a(href='https://www.linkedin.com/in/nsramanathan/') LinkedIn]
    
    
  section#pastMembers 
    h3 Past Members 

    div.amember 
      div.member-box 
          div.member-image
            img(src="../static/pastTeam/anujkushwaha.jpg", alt="")
          div.memTEXT
            h4 Anuj Kushwaha
            //- h6 #[a(href='https://www.linkedin.com/in/mayank-gulati-2a874a256') LinkedIn]

    div.amember 
      div.member-box 
          div.member-image
            img(src="../static/pastTeam/yuvrajsoni.jpg", alt="")
          div.memTEXT
            h4 Yuvraj Soni
            h6 #[a(href='www.linkedin.com/in/yuvraj-soni-1b18ba183') LinkedIn]

    

    div.amember 
      div.member-box 
          div.member-image
            img(src="../static/pastTeam/priyamahato.jpg", alt="")
          div.memTEXT
            h4 Priya Mahato
            //- h6 #[a(href='https://www.linkedin.com/in/mayank-gulati-2a874a256') LinkedIn]

    div.amember 
      div.member-box 
          div.member-image
            img(src="../static/pastTeam/ashla.jpg", alt="")
          div.memTEXT
            h4 Ashla
            //- h6 #[a(href='https://www.linkedin.com/in/mayank-gulati-2a874a256') LinkedIn]

    div.amember 
      div.member-box 
          div.member-image
            img(src="../static/pastTeam/Hitesh.jpeg", alt="")
          div.memTEXT
            h4 Hitesh
            //- h6 #[a(href='https://www.linkedin.com/in/mayank-gulati-2a874a256') LinkedIn]

    div.amember 
      div.member-box 
          div.member-image
            img(src="../static/pastTeam/Gayatri .jpg", alt="")
          div.memTEXT
            h4 Gayatri
            //- h6 #[a(href='https://www.linkedin.com/in/mayank-gulati-2a874a256') LinkedIn]

    div.amember 
      div.member-box 
          div.member-image
            img(src="../static/pastTeam/K Nandana Dilip.jpg", alt="")
          div.memTEXT
            h4 K Nandana Dilip
            //- h6 #[a(href='https://www.linkedin.com/in/mayank-gulati-2a874a256') LinkedIn]

    div.amember 
      div.member-box 
          div.member-image
            img(src="../static/pastTeam/Mohit Kumar.jpg", alt="")
          div.memTEXT
            h4 Mohit Kumar
            //- h6 #[a(href='https://www.linkedin.com/in/mayank-gulati-2a874a256') LinkedIn]

  section#contact
    h3 Contact Us
    div.CONTcontent
      .right 
        h4 Anveshnam Club 
        p Indian Institute of Technology Gandhinagar, Palaj, Gujarat, India -382355.
        p Email: anveshanam@iitgn.ac.in
      .left 
        h4 Connect with us on social media:
        p #[a( target="blank" href='https://www.instagram.com/anveshanam_iitgn/?igshid=YmMyMTA2M2Y%3D&hl=en') Instagram]
        p #[a( target="blank" href='https://www.linkedin.com/in/anveshanam-iitgn-b81a1a243/?originalSubdomain=in') LinkedIn]
        p #[a( target="blank" href='https://chat.whatsapp.com/ISAOj79iZ1l2HUvixxAiHE') Whatsapp ]
      

  div#feedback
    h6 Your valuable suggestions and feedback are always welcomed here.
    btn #[a(href="https://forms.gle/aJRgrNMdmr42Su169") Suggestions/Feedback]

  footer#footer
    div#copyright
      h6 © Copyright 2024 Anveshanam | IIT Gandhinagar- All Rights Reserved
    div#footimgs
      a(target="blank" ,href="https://www.instagram.com/anveshanam_iitgn/?igshid=YmMyMTA2M2Y%3D&hl=en")
        img(src="../static/instafoot.png", alt="Instagram")
      a(target="blank" ,href='https://www.linkedin.com/in/anveshanam-iitgn-b81a1a243/?originalSubdomain=in')
        img(src="../static/linkedfoot.png", alt="LinkedIn")
      a(target="blank", href='https://chat.whatsapp.com/ISAOj79iZ1l2HUvixxAiHE')
        img(src="../static/whatsfoot.png", alt="WhatsApp")
