doctype html 
html
  head
    title Our Team and Contact

    link(rel="shortcut icon", href="../static/faviconNEW.png", type="image/x-icon")
    
    style
      include ../static/style.css 

    script 
      include ../static/script.js   

body 
  nav#navbar 
    div#logo
      h3.logname #[a(href='/') anveshanam]
      //- img.logoimg(src="../static/.png")
    ul#nav-list
      li.navitem #[a(href='/') Home]
      li.navitem #[a(href='/') Events]
      li.navitem #[a(href='/') Activities]
      li.navitem #[a(href='/') Announcements]
      li.navitem #[a(href='/') Gallery]
      li.navitem #[a(href='/about') Our Team and Contact]
  
  

  section#ourTeam 
    h3 Our Team
    .member 
        div.memberIMG 
          img(src="../static/images/Rajdeep.jpg", alt="")
        div.memberDATA 
          h4 Rajdeep Singh Devra 
          h5 Founding Member and Secretary 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, voluptates. Sed odit, adipisci repudiandae impedit soluta recusandae ut unde! Enim dignissimos, eum numquam molestiae maiores illo minus ad deleniti ducimus obcaecati delectus necessitatibus tenetur laudantium blanditiis perferendis, libero expedita perspiciatis. Tempora atque modi inventore architecto!
          p xyz@iitgn.ac.in
          h6 #[a(href='') LinkedIn]
    
    .member.flexx
        div.memberIMG
          img(src="../static/images/Anuj.jpg", alt="") 
        div.memberDATA 
          h4 Anuj P Kushwaha
          h5 POR
          p Anuj is a PhD student in Earth Science, at IIT Gandhinagar. His research interests encompass multi-hydrological modeling, extreme events, remote sensing, and climate change. Beyond academia, he is a photography enthusiast, tech enthusiast, avid traveler, and passionate about research and innovation, constantly seeking avenues for growth and learning.
          p anuj.k@iitgn.ac.in
          h6 #[a(href='https://www.linkedin.com/in/anuj-prakash-kushwaha-525082114/') LinkedIn]
    .member 
        div.memberIMG 
          img(src="../static/images/mahakjauhri.jpeg", alt="")
        div.memberDATA 
          h4 Mahak Jauhri 
          h5 POR
          p I am an avid mathematics enthusiast and a dedicated member of Anveshnam (research society), contributing to editorial and social media team. I am a self-motivated learner, always eager to explore diverse fields of knowledge. In addition to my academic pursuits, I enjoy content creation and excel in expressing my thoughts through various forms of writing. With the drive to make a mark, I'm here to help steer our Research Society towards some seriously cool discoveries.
          p mahakjohari098@gmail.com 
          h6 #[a(href='https://www.linkedin.com/in/mahak-jauhri-99684b17a') LinkedIn]
    .member.flexx  
        div.memberIMG 
          img(src="../static/images/muskanjindal.jpg", alt="")
        div.memberDATA 
          h4 Muskank Jindal  
          h5 POR
          p I am a Ph.D. student at Ta Per Lab, where I am currently pursuing my research. Prior to joining Ta Per Lab, I worked as a research assistant at the Centre for Behavioral Science (CBS) at the Indian Institute of Management Ahmedabad. Educational Background I hold a master's degree in Cognitive Science from the Center of Behavioral and Cognitive Science (CBCS) at the University of Allahabad. My academic focus during this period revolved around exploring the fascinating relationship between bilingual experiences and general purposive executive control. Additionally, I have a bachelor's degree in Botany from Ramjas College at the University of Delhi. Interests Beyond my academic pursuits, I have a passion for various activities. I enjoy going for long walks, indulging in Hindi satire literature, practicing Yoga, and watching psychological thrillers.
          p muskan.23310027@iitgn.ac.in
          h6 #[a(href='') LinkedIn]
    .member  
        div.memberIMG 
          img(src="../static/images/harshjaitwal.jpg", alt="")
        div.memberDATA 
          h4 Harsh Jaitwal  
          h5 POR
          p Hi, I am Harsh Jaitwal, third year undergraduate in the department of chemical Engineering. I am working as a head of social media team to implement and enhance my knowledge and skills in the field of social media marketing. 
          p jaitwalharsh@iitgn.ac.in
          h6 #[a(href='https://www.linkedin.com/in/harsh-jaitwal-9614a922b') LinkedIn]
    .member.flexx  
        div.memberIMG 
          img(src="../static/images/himanshubeniwal.jpg", alt="")
        div.memberDATA 
          h4 Himanshu Beniwal  
          h5 POR
          p Traveling the 🌎 with ♥️ for ☕️, & crazy for 👨🏼‍💻. 
          p himanshubeniwal@iitgn.ac.in
          h6 #[a(href='https://www.linkedin.com/in/himanshubeniwal/') LinkedIn]
    .member  
        div.memberIMG 
          img(src="../static/images/anjali.jpg", alt="")
        div.memberDATA 
          h4 Anjali Chaudhary  
          h5 POR
          p Greetings! I'm Anjali, a passionate Mathematics enthusiast pursuing my Master's degree. I embark on a journey of exploration and learning. Beyond the world of numbers, I find joy in the graceful sport of badminton. Currently, I proudly contribute to this club as a valued member of the social media team, where I aim to connect our research community with the research enthusiasts. 
          p anjalianjali@iitgn.ac.in
          h6 #[a(href='https://www.linkedin.com/in/anjali-chaudhary-20616625b') LinkedIn]
    .member.flexx  
        div.memberIMG 
          img(src="../static/images/priyamahato.jpg", alt="")
        div.memberDATA 
          h4 Priya Mahato  
          h5 POR
          p I am second year Materials Engineering PhD scholar in IITGN. I hail from Purulia, West Bengal. I love traveling (do not ask which places I have been to), explore new places, movies, anime (sub over dub). If you are into research driven endeavours, do join our club 'Anveshanam'. Mata ne;)
          p mahatopriya@iitgn.ac.in
          h6 #[a(href='https://www.linkedin.com/in/priya-mahato-5b0729165?trk=contact-info') LinkedIn]
    .member  
        div.memberIMG 
          img(src="../static/images/anjali.jpg", alt="")
        div.memberDATA 
          h4 Anjali Chaudhary  
          h5 POR
          p 
          p anjalianjali@iitgn.ac.in
          h6 #[a(href='https://www.linkedin.com/in/anjali-chaudhary-20616625b') LinkedIn]
    .member.flexx  
        div.memberIMG 
          img(src="../static/images/nsramanathan.jpg", alt="")
        div.memberDATA 
          h4 N S Ramanathan  
          h5 POR
          p I am N S Ramanathan, yet another imperfect human. I am a final year M.Tech Student in the Department of Electrical Engineering. You'll find me scribbling poems at times. My niche is typically musical, and rain along with it makes it heaven. Travelling with my people is one activity that I enjoy. I make it a point to greet everyone with a gentle smile, as I believe that it can make the world happier than ever. 
          p ramanathanns@iitgn.ac.in
          h6 #[a(href='https://www.linkedin.com/in/nsramanathan/') LinkedIn]
    .member  
        div.memberIMG 
          img(src="../static/images/nilanshsharma.jpeg", alt="")
        div.memberDATA 
          h4 Nilansh Sharma   
          h5 POR
          p I am a third year undergraduate in the discipline of chemical engineering. My research interest lies in the field of protein engineering. My hobbies are reading fiction books, and listening music.
          p sharmanilansh@iitgn.ac.in
          h6 #[a(href='') LinkedIn]
    .member.flexx  
        div.memberIMG 
          img(src="../static/images/yuvrajsoni.jpg", alt="")
        div.memberDATA 
          h4 Yuvraj Soni 
          h5 POR
          p Hey there, I'm Yuvraj Soni, an undergraduate student in the fascinating field of chemical engineering. Beyond my academic pursuits, I'm a music enthusiast and enjoy editing videos in my free time. I'm also passionate about battery research and eager to delve deeper into the world of science and innovation. 
          p soniyuvraj@iitgn.ac.in
          h6 #[a(href='www.linkedin.com/in/yuvraj-soni-1b18ba183') LinkedIn]
    .member  
        div.memberIMG 
          img(src="../static/images/mayankgulati.jpg", alt="")
        div.memberDATA 
          h4 Mayank Gulati 
          h5 POR
          p I am passionate about software design and development. I have experience with React.js, Python, SQL, DevOps and other industry-standard libraries and frameworks. I also like to play chess. I have also received training in Hindustani Classical Music.
          p mayank.gulati@iitgn.ac.in
          h6 #[a(href='https://www.linkedin.com/in/mayank-gulati-2a874a256') LinkedIn]
    

  section#contact
    h3 Contact Us
    div.CONTcontent
      .right 
        h4 Anveshnam Club 
        p Indian Institute of Technology Gandhinagar, Palaj, Gujarat, India -382355.
        p Email: anveshanam@iitgn.ac.in
      .left 
        h4 Connect with us on social media:
        p #[a(href='') Instagram]
        p #[a(href='') LinkedIn]
        p #[a(href='') Whatsapp ]
      

  div#feedback
    h6 Your valuable suggestions and feedback are always welcomed here.
    btn #[a(href="") Suggestions/Feedback]

  footer#footer
    div#copyright
      h6 © Copyright 2023 Anveshanam | IIT Gandhinagar- All Rights Reserved
    div#footimgs
      a(target="blank" ,href="https://www.instagram.com/anveshanam_iitgn/?igshid=YmMyMTA2M2Y%3D&hl=en")
        img(src="../static/instafoot.png", alt="Instagram")
      a(target="blank" ,href='https://www.linkedin.com/in/anveshanam-iitgn-b81a1a243/?originalSubdomain=in')
        img(src="../static/linkedfoot.png", alt="LinkedIn")
      a(target="blank" ,href='')
        img(src="../static/whatsfoot.png", alt="")
